#ToolBarMenu {
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#ToolBarMenu .unity-button {
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 50px;
    min-height: 50px;
    flex-shrink: 0;
}

#ToolBarMenu .unity-button:hover {
}

#ToolBarMenu .gap {
    min-width: 5px;
}
